.theme-color {
	color: #6e207c;
}

.custom-letter-spacing-p {
	letter-spacing: 1px;
}

.light-red-background {
	background-color: rgb(255, 157, 157) (237, 129, 129);
}

.text-link {
	cursor: pointer;
	font-weight: 500;
}

.light-gray-back {
	background-color: rgb(236, 236, 236);
}

/* ........................image styles ................ */
.smallimages-container-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.small-image-container {
	width: 200px;
	height: 200px;
	position: relative;
	margin-bottom: 60px;
}

.small-image {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.image-close-btn {
	position: absolute;
	padding: 0.5rem 0.8rem;
	top: -18px;
	border-radius: 100%;
	right: -18px;
	background-color: white;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.small-image-text {
	margin-top: -1.2rem;
	padding-top: 2rem;
}

/* ................. goals page ...................... */

.border-dashed {
	border-style: dashed;
	padding: 2rem 1rem;
	border-color: rgb(212, 212, 212);
}

/*  .................. Navigation tabs  ........................ */

.tab-active {
	color: white !important;
	background-color: #6e207c;
}

.nav-tabs {
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	border-width: 0.1px;
	border: solid;
	border-color: #6e207c;
	color: #6e207c;
	width: 100%;
	white-space: pre;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.nav-tabs:hover {
	background-color: #be63ce;
	border-color: #be63ce;
	color: white;
}

.nav-tabs-main {
	display: flex;
	width: 100% !important;
}

.nav-tabs-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	/* border: solid;
	border-width: 1px; */
	padding: 0;
	overflow: scroll;
}

.btn-fill {
	background-color: transparent;
	color: #6e207c;
	font-weight: bold;
	padding: 1rem;
	border: solid 2px #6e207c;
	width: 100%;
}
