@import url(./elevations.css);
:root {
  --pb-main-color: var(--pb-main-color, black);
}

.pb-root {
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  position: relative;
  display: flex;
  flex-direction: row;
}

.pb-canvas {
  flex-basis: 80%;
  position: relative;
}

.pb-right-panel {
  position: relative;
  flex-basis: 20%;
}
