.theme-color {
	color: #6e207c;
}

.custom-letter-spacing-p {
	letter-spacing: 1px;
}

.light-red-background {
	background-color: rgb(255, 157, 157) (237, 129, 129);
}

/* .......................................  input styles  ................................... */

.input-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: static;
}

.input-container label.text {
	font-size: 0.9rem;
	color: rgb(60, 60, 60);
	font-weight: 450;
	position: relative;
	top: 0.5rem;
	margin: 0 0 0 7px;
	left: 12px;
	/* width: 170px !important; */
	padding: 0 20px 0 13px;
	background: #ffffff;
	width: fit-content;
	letter-spacing: 0.05em;
}

.input-container input[type="text"].input,
.input-container input[type="email"].input {
	padding: 1rem 1.4rem;
	font-size: 0.9rem;
	border: 1px #202020 solid;
	border-radius: 3px;
	background: #ffffff;
	letter-spacing: 0.05em;
	font-weight: 300;
	color: #4b5563;
}

.input-container input[type="text"].input:focus,
.input-container input[type="email"].input:focus {
	outline: none;
}

/* .......................................  input  ----  textarea  ................................... */

.input-textarea {
	width: 100%;
	height: 100%;
	letter-spacing: 0.05em;
	resize: none;
	padding: 2rem 1.4rem;
	min-height: 15rem;
	outline: none;
	font-size: 0.9rem;
	border: 1px #202020 solid;
	border-radius: 3px;
	background: #ffffff;
	font-weight: 200;
	color: #4b5563;
}
/* .......................................  input  ----  date  ................................... */

.date-input {
	width: 100%;
	height: 100%;
	letter-spacing: 0.05em;
	resize: none;
	padding: 1rem 1.4rem;
	outline: none;
	font-size: 0.9rem;
	border: 1px #202020 solid;
	border-radius: 3px;
	background: #ffffff;
	font-weight: 200;
	color: #4b5563;
}

/* .......................................  button no rounded edges styles - btn-fixed   ................................... */

.btn-fixed {
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: #6e207c;
	color: white;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	border-radius: 0.125rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	letter-spacing: 0.05em;
	border: none;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

/* .......................................  button rounded edges styles - btn-fixed   ................................... */

.btn-rounded {
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: #6e207c;
	color: white;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	border-radius: 9999px;
	font-size: 0.875rem;
	line-height: 1.25rem;
	letter-spacing: 0.05em;
	border: none;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.btn-n:hover {
	background-color: #9c4bab;
}

/*  ............................... Button Loader ...................... */

.loader {
	display: inline-grid;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
.loader:before,
.loader:after {
	content: "Loading...";
	grid-area: 1/1;
	-webkit-mask: linear-gradient(90deg, #fff 50%, #0000 0) 0 50%/2ch 100%;
	color: #0000;
	text-shadow: 0 0 0 #fff, 0 calc(var(--s, 1) * 1.2em) 0 #0000;
	animation: l15 1s infinite;
}
.loader:after {
	-webkit-mask-position: 1ch 50%;
	--s: -1;
}
@keyframes l15 {
	80%,
	100% {
		text-shadow: 0 calc(var(--s, 1) * -1.2em) 0 #fff, 0 0 0 #fff;
	}
}

/* .......................................  Chip styles   ................................... */

.chip {
	padding-left: 1.5rem;
	padding-right: 0.2rem;
	background-color: #f3f3f3;
	color: black;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	border-radius: 9999px;
	font-size: 0.975rem;
	line-height: 1.25rem;
	letter-spacing: 0.05em;
	font-weight: 500;
	border: none;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
	border-width: 3px;
	border-style: solid;
	border-color: #f3f3f3;
}

.chip:hover {
	border-width: 3px;
	border-color: #f87171;
	border-style: solid;
}

/* .......................................  checkbox styles   ................................... */

.custom-checkbox {
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

.custom-checkbox input {
	display: none;
}

.checkbox-icon {
	position: absolute;
	top: 0;
	left: -2;
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	border-radius: 2px;
}

.custom-checkbox input:checked ~ .checkbox-icon {
	background-color: #6e207c;
}

.custom-checkbox .checkbox-icon {
	width: 29.77px;
	height: 29.47px;
}

.custom-checkbox .checkbox-icon {
	border-color: #6e207c;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-big .checkbox-icon::after {
	content: "\2713";
	display: block;
	color: #fff;
	font-size: 32px;
	text-align: center;
	line-height: 24px;
}

.checkbox-big .text {
	margin-left: 42px;
	letter-spacing: 1px;
}

.checkbox-small .checkbox-icon {
	width: 23.77px;
	height: 23.47px;
}

.checkbox-small .text {
	margin-left: 35px;
}

.checkbox-small .checkbox-icon::after {
	content: "\2713";
	display: block;
	color: #fff;
	font-size: 25px;
	text-align: center;
	line-height: 19px;
}

/* .......................................  Dropdown styles   ................................... */

.cusdropdown-container {
	position: relative;
	user-select: none;
}

.cusdropdown {
	position: relative;
	display: inline-block;
	border-radius: 4px;
	cursor: pointer;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	border-width: 1px;
	border-color: #6e207c;
	border-style: solid;
	width: 100%;
	letter-spacing: 0.025em;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
	z-index: 2;
	background-color: white;
}

.cusdropdown.open {
	border-width: 2px;
}

.cusdropdown-menu {
	width: 100%;
	display: block;
	overflow-y: scroll;
	background-color: white;
	/* position: absolute; */
	top: 2rem;
	height: 0;
	z-index: 0;
	left: 0;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.cusdropdown-menu-close {
	height: 0;
}

.cusdropdown-menu-open {
	height: 15rem;
	padding-top: 2rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.cusdropdown-menu li {
	padding: 10px;
	cursor: pointer;
}

.cusdropdown-menu li:hover {
	background-color: #f9f9f9;
}

.cusdropdown-toggle .arrow {
	position: absolute;
	right: 1.25rem;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.arrow-rotate {
	rotate: 180deg;
}

.cusdropdown-menu ul {
	list-style: none;
}

.cusdropdown-item {
	padding: 1rem;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
	cursor: pointer;
}

.cusdropdown-item:hover {
	background-color: #ebebeb;
}

/* ...................................................   File Upload   ................................... */

.file-upload {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	letter-spacing: 0.025em;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 290px;
	border-width: 1px;
	border-color: rgb(148, 148, 148);
	border-style: solid;
	border-radius: 3px;
}

.file-input-label {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px dashed #ccc;
	overflow: hidden;
	cursor: pointer;
	background-color: #f2f2f2;
}

.preview-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
}

.file-input {
	opacity: 0;
}

.choose-file-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
}

.choose-file-button span {
	color: #555;
	font-weight: bold;
	background-color: #f2f2f2;
}

/* ...................................... incentives Bar ...................................... */

.incentivesBar-menu-open {
	height: 45rem;
	padding-top: 2rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.cusdropdown-toggle .arrowincentivesBar {
	position: absolute;
	right: 1.25rem;
	top: 10px;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}

.arrowincentivesBar-rotate {
	rotate: 180deg;
}

.incentivesBardropdown {
	position: relative;
	display: inline-block;
	border-radius: 4px;
	cursor: pointer;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	border-width: 1px;
	border-color: #f4f4f4;
	border-style: solid;
	width: 100%;
	letter-spacing: 0.025em;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
	z-index: 2;
	background-color: white;
}

.icentiveBarIcon {
	padding-right: 15px;
}
