@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url(./assets/styles/universal.css);

body {
  font-family: "Manrope", sans-serif;
}

/* -- SPT THEME ---- */

.spt-section-title {
  margin: 0px;
  font-weight: normal;
}
.spt-acc-t-opened {
  background-color: var(--spt-main-color);
  color: white;
}
.spt-acc-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.spt-acc-title h4 {
  /* font-weight: normal; */
  margin: 0;
}
.spt-get-help {
  display: flex;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 10px;
  align-items: center;
}
.spt-goal-section {
  background: antiquewhite;
}
.spt-section-style {
  border: 1px solid rgb(243, 243, 243);
}

.spt-section-margin {
}
.spt-section .img {
  width: 90%;
  object-fit: cover;
  border-radius: 20px;
}
.hero-container {
  color: white;
  background-color: rgba(0, 58, 68, 1);
}
.spt-hero .intro h6 {
  color: var(--spt-accent-2);
}

.spt-hero .intro h1 {
  color: white;
  font-weight: normal;
}

.spt-btn {
  background-color: var(--spt-accent-2);
  color: white;
  border: 0px;
  border-radius: 5px;
  /* font-weight: bold; */
  cursor: pointer;
  /* width: fit-content; */
  text-align: center;
}

.spt-btn-outline {
  margin-bottom: 5px;
  background: white;
  border: 1px solid rgb(255, 132, 71);
  color: rgb(255, 132, 71);
  border-radius: 4px;
  width: auto;
  margin-top: 10px;
  text-align: center;
}

/* ------------------ */

.floating-l-drop {
  position: fixed;
  bottom: 60px;
  right: 0px;
  padding: 10px 15px;
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
  box-shadow: var(--elevate-5);
  background-color: white;
  color: var(--app-accent-3);
  opacity: 0.7;
  cursor: pointer;
}

.floating-l-drop > select {
  cursor: pointer;
  color: var(--app-main-color);
  text-transform: capitalize;
  font-size: var(--app-body-font);
  font-weight: bold;
  width: 200px;
}

.floating-l-drop:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.undefault {
  border: 0px;
  background-color: white;
  font-weight: bold;
}

.undefault:active,
.undefault:focus {
  outline: 0;
  border: 0;
}
.l-drop {
  padding: 5px;
  cursor: pointer;
  /* border: solid 2px var(--app-main-color); */
  border: solid 2px #e4e4ff;
  margin: 0px 20px;
  border-radius: 3px;
  display: inline-block;
}

.l-drop > select {
  color: var(--app-main-color);
}

.table-trashcan {
  padding: 0.5rem;
  /* width: 2rem;
	height: 2rem; */
  font-size: 0.875rem;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-trashcan:hover {
  background-color: red;
  color: white;
}
.tech-btn {
  border-radius: 500px !important;
  padding: 8px 23px !important;
  margin: 6px 0;
  font-size: var(--small-font) !important;
  border-width: 0px !important;
  font-weight: bold !important;
}

::-webkit-scrollbar {
  display: none !important;
}
