@media only screen and (min-width: 768px) {
  .page-title {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
  }
  .roaming-container {
    margin: 100px 0px;
  }
  .page-slogan {
    font-weight: 400;
    color: var(--app-medium-green);
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5;
    width: 85%;
    font-size: 1.2rem;
  }

  .site-logo {
    width: 190px;
    height: 190px;
    margin-block: 10px;
    object-fit: contain;
  }

  .campaign-focus-image {
    width: 80%;
    margin: 20px 10% 0px;
    height: 530px;
    border-radius: 10px;
    object-fit: cover;
  }
  .roaming-header h3 {
    font-size: 23px;
  }
  .roaming-text {
    font-size: 1rem;
  }

  .app-btn {
    border-width: 0px;
    padding: 9px 19px;
  }
}
.roaming-header {
  padding: 10px 30px;
  background: var(--app-kicking-yellow);
  /* border-radius: 5px; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.app-btn {
  margin-left: auto;
  border-radius: 100px !important;
  background: var(--app-deep-green) !important;
  border-width: 0px !important;
}
