@import url(./mobile-only.css);
@import url(./pc-only.css);
@import url(./elevations.css);
@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,400i,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
  margin:0px; 
  padding:0px; 
  box-sizing: border-box;
}

:root {
  --app-deep-green: #3C5B11; 
  --app-medium-green: #8BB256;
  --app-kicking-yellow: #FFD66D; 
  --kicking-background: #FFF5DD
  --app-antique-white: antiquewhite;
  --app-orange: #F57907;
  --app-close-red: #D33F2B;

}

.touchable-opacity { 
  cursor: pointer;
}

.touchable-opacity:hover { 
  opacity: .7;
  transition: 0.5s;
}

.touchable-opacity:active{ 
  transform:scale(.95);
}


.interact:active{ 
  transform: scale(1);
  color: var(--app-medium-green) !important;
}
.interact { 
  cursor: pointer;
}
.interact:hover { 
  /* animation: pulse .8s forwards; */
  transition: .3s ease-out;
  transform: scale(1.5);

}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
